/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-list {
  max-width: 100%;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-arrow {
  width: 40px;
  height: 40px;
  -webkit-box-shadow: 0 5px 20px rgba(3, 217, 145, 0.3);
          box-shadow: 0 5px 20px rgba(3, 217, 145, 0.3);
  background-color: #03d991;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slick-prev_1 {
  left: 37px;
}

.slick-next_1 {
  right: 37px;
}

@font-face {
  font-family: "Futura PT - Book";
  font-display: swap;
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT - Demi";
  font-display: swap;
  src: url("../fonts/FuturaPT-Demi.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  font-display: swap;
  src: url("../fonts/FuturaPT-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  font-display: swap;
  src: url("../fonts/FuturaPT-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  font-display: swap;
  src: url("../fonts/FuturaPT-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  font-display: swap;
  src: url("../fonts/FuturaPT-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

*:focus,
*:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  background: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: #000;
  display: inline-block;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

ul {
  margin: 0;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

.title {
  font-family: "Futura PT - Demi", sans-serif;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.title span {
  color: #03d991;
}

.title_white {
  font-family: "Futura PT - Demi", sans-serif;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.title_white span {
  color: #03d991;
}

.subtitle {
  font-family: "Futura PT - Book", sans-serif;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
}

.subtitle_white {
  font-family: "Futura PT - Book", sans-serif;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Futura PT", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  overflow: hidden;
  position: relative;
  left: 0;
  right: 0;
}

body._lock {
  max-height: 100%;
  overflow-y: hidden;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.main {
  background: #1b1d1c url("../img/backgrounds/main-bg.jpg") no-repeat center/cover;
  padding: 21px 0 297px;
  position: relative;
}

.main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 150px;
}

.main__col {
  max-width: 100%;
}

.main__col:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 532px;
          flex: 0 0 532px;
  position: relative;
}

.main__col:nth-child(1):before {
  content: '';
  position: absolute;
  top: 0;
  right: -391px;
  width: 277px;
  height: 598px;
  background: url("../img/gauge.png") no-repeat center/contain;
  display: inline-block;
  z-index: 2;
}

.main__col:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 354px;
          flex: 0 0 354px;
  position: relative;
  padding-top: 69px;
}

.main__pretitle {
  color: #03d991;
  font-family: "Futura PT - Book", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.main__title {
  color: #fff;
  font-family: "Futura PT - Demi", sans-serif;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 23px;
}

.main__subtitle {
  position: relative;
  color: #fff;
  font-family: "Futura PT - Book", sans-serif;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  margin-top: 24px;
  padding-left: 119px;
}

.main__subtitle:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 70px;
  height: 1px;
  background-color: #03d991;
  display: inline-block;
}

.main__button {
  border-radius: 10px;
  background-color: #03d991;
  -webkit-box-shadow: 0 15px 40px rgba(3, 217, 145, 0.3);
          box-shadow: 0 15px 40px rgba(3, 217, 145, 0.3);
  color: #fff;
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 45px;
  padding: 33px 37px 36px 36px;
}

.main__discount {
  position: relative;
  width: 120px;
  height: 120px;
  z-index: 2;
  background-color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.main__discount:before {
  content: '';
  position: absolute;
  top: -9px;
  right: -9px;
  bottom: -9px;
  left: -9px;
  border-radius: 50%;
  border: 1px dashed #03d991;
  display: inline-block;
}

.main__discount-wrapper {
  position: absolute;
  top: -47px;
  right: -166px;
}

.main__discount-number {
  color: #f3b700;
  font-size: 40px;
  line-height: 35px;
  font-weight: 700;
}

.main__discount-text {
  max-width: 93px;
  font-family: "Futura PT - Book", sans-serif;
  font-size: 19px;
  line-height: 18px;
  font-weight: 400;
}

.main__gift {
  position: absolute;
  right: -225px;
  bottom: -8px;
  -webkit-box-shadow: 0 5px 30px rgba(51, 51, 51, 0.05);
          box-shadow: 0 5px 30px rgba(51, 51, 51, 0.05);
  border-radius: 10px;
  background-color: #fff;
  padding: 10px 65px 5px 21px;
  display: inline-block;
}

.main__gift-text {
  color: #f3b700;
  font-family: "Futura PT - Demi", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  margin-left: 6px;
  text-transform: uppercase;
}

.main__gift-image {
  margin-top: 4px;
}

.main__gift-button {
  position: absolute;
  bottom: 159px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(-90deg);
      -ms-transform: translateX(-50%) rotate(-90deg);
          transform: translateX(-50%) rotate(-90deg);
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__gift-button span {
  margin-left: 12px;
}

.main__gift-button img {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.main__advantages {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__advantages-item {
  border-radius: 10px;
  background-color: #fff;
  padding: 19px 25px 25px 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__advantages-item:nth-child(n+2) {
  margin-top: 12px;
}

.main__advantages-icon {
  min-width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__advantages-icon img {
  max-width: none;
}

.main__advantages-text {
  font-family: "Futura PT - Book", sans-serif;
  line-height: 1.2;
  font-weight: 400;
  margin-left: 19px;
}

.main__price {
  margin-top: 40px;
  margin-left: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: skewX(-10deg);
      -ms-transform: skewX(-10deg);
          transform: skewX(-10deg);
}

.main__price .price__item {
  border-radius: 10px;
  text-align: center;
}

.main__price .price__old {
  border: 1px dashed #03d991;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  padding: 13px 25px 16px 0;
}

.main__price .price__old-text {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Futura PT - Book", sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-transform: skewX(10deg);
      -ms-transform: skewX(10deg);
          transform: skewX(10deg);
}

.main__price .price__old-number {
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Futura PT - Demi", sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-decoration: line-through;
  -webkit-transform: skewX(10deg);
      -ms-transform: skewX(10deg);
          transform: skewX(10deg);
  line-height: 18px;
  margin-top: 9px;
  padding-left: 9px;
}

.main__price .price__now {
  -webkit-box-shadow: 0 15px 40px rgba(3, 217, 145, 0.2);
          box-shadow: 0 15px 40px rgba(3, 217, 145, 0.2);
  background-color: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 189px;
          flex: 0 0 189px;
  margin-left: -19px;
  padding: 14px 10px 16px 11px;
}

.main__price .price__now-text {
  color: #f3b700;
  font-family: "Futura PT - Book", sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-transform: skewX(10deg);
      -ms-transform: skewX(10deg);
          transform: skewX(10deg);
}

.main__price .price__now-number {
  display: inline-block;
  color: #333;
  font-family: "Futura PT - Demi", sans-serif;
  font-size: 24px;
  font-weight: 400;
  -webkit-transform: skewX(10deg);
      -ms-transform: skewX(10deg);
          transform: skewX(10deg);
  line-height: 18px;
  margin-top: 9px;
  padding-left: 8px;
}

.main__price .price__days {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 16px 25px 16px 47px;
  margin-left: -14px;
}

.main__price .price__days-text {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  -webkit-transform: skewX(10deg);
      -ms-transform: skewX(10deg);
          transform: skewX(10deg);
}

.main__price .price__days-text span {
  color: #03d991;
  display: block;
  margin-top: 3px;
}

.main .price__days-text_1 {
  display: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-top: 15px;
}

.main .price__days-text_1 span {
  color: #03d991;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-image {
  display: inline-block;
}

.header__logo-image img {
  max-width: none;
}

.header__description {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Futura PT - Book", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  margin-left: 30px;
  max-width: 208px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item:nth-child(n+2) {
  margin-left: 29px;
}

.header__link {
  color: #9a9b9b;
  display: inline-block;
}

.header__link_white {
  color: #fff;
}

.header__link_important {
  font-family: "Futura PT - Demi", sans-serif;
  font-weight: 400;
  color: #07be7f;
}

.gift {
  padding-top: 95px;
  padding-bottom: 43px;
}

.gift__title {
  max-width: 529px;
  margin: 22px auto 0;
}

.gift__title span {
  color: #e8ba30;
}

.gift__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
}

.gift__col {
  position: relative;
}

.gift__col:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.gift__col:nth-child(1):before {
  content: '';
  position: absolute;
  bottom: -26px;
  left: 445px;
  width: 195px;
  height: 208px;
  background: url("../img/gift.jpg") no-repeat center/cover;
  display: inline-block;
  z-index: 2;
}

.gift__col:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin-right: 37px;
  padding-left: 59px;
}

.gift__text {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 300;
  position: relative;
  z-index: 2;
  max-width: 549px;
  margin-top: 20px;
}

.gift__text_big {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
  max-width: 380px;
  position: relative;
  z-index: 2;
}

.gift__button {
  -webkit-box-shadow: 0 15px 40px rgba(3, 217, 145, 0.3);
          box-shadow: 0 15px 40px rgba(3, 217, 145, 0.3);
  border-radius: 10px;
  background-color: #03d991;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  width: 340px;
  max-width: 100%;
  margin-top: 38px;
  padding: 30px 40px 33px;
  position: relative;
  z-index: 2;
}

.gift__image {
  max-width: 491px;
}

.features {
  background-color: rgba(51, 51, 51, 0.03);
  padding: 90px 0 100px;
}

.features__subtitle {
  margin-top: 13px;
}

.features__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 79px;
}

.features__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(25% - 10px);
          flex: 0 0 calc(25% - 10px);
  border-radius: 10px;
  border: 1px solid #f7f7f7;
  background-color: #fff;
  text-align: center;
  padding: 0 50px 26px;
}

.features__item-image {
  width: 80px;
  height: 80px;
  -webkit-box-shadow: 0 10px 30px rgba(3, 217, 145, 0.3);
          box-shadow: 0 10px 30px rgba(3, 217, 145, 0.3);
  background-color: #03d991;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.features__item-text {
  margin-top: -15px;
}

.features__item-text strong {
  font-family: "Futura PT - Demi", sans-serif;
  font-weight: 400;
}

.features__item-text span {
  font-family: "Futura PT - Demi", sans-serif;
  font-weight: 400;
  display: block;
}

.features__subtitle_1 {
  margin-top: 19px;
}

.features__row_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 26px;
}

.features__item_1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 10px);
          flex: 0 0 calc(50% - 10px);
  padding: 33px 40px;
  border-radius: 10px;
  background-color: #1b1d1c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__item_1:nth-child(1) .features__item_1-image {
  -webkit-box-shadow: 0 10px 30px rgba(3, 217, 145, 0.3);
          box-shadow: 0 10px 30px rgba(3, 217, 145, 0.3);
  background-color: #03d991;
}

.features__item_1:nth-child(2) .features__item_1-image {
  -webkit-box-shadow: 0 10px 30px rgba(80, 136, 220, 0.3);
          box-shadow: 0 10px 30px rgba(80, 136, 220, 0.3);
  background-color: #5088dc;
}

.features__item_1-image {
  width: 134px;
  height: 134px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.features__item_1-image img {
  max-width: none;
}

.features__item_1-title {
  color: #fff;
  font-family: "Futura PT - Demi", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
}

.features__item_1-text {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 20px;
  line-height: 1.2;
}

.features__item_1-text-wrapper {
  margin-left: 43px;
}

.video {
  background: url("../img/backgrounds/video-bg.jpg") no-repeat center/cover;
  padding: 91px 0 108px;
}

.video__container {
  max-width: 860px;
  padding: 0 10px;
  margin: 0 auto;
}

.video__title {
  max-width: 667px;
  margin: 0 auto;
}

.video__subtitle {
  margin-top: 19px;
}

.video__wrapper {
  margin-top: 59px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  max-height: 400px;
}

.video__preview {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 400px;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2px;
}

.gallery__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(20% - 2px);
          flex: 0 0 calc(20% - 2px);
}

.gallery__image img {
  width: 100%;
}

.characteristics {
  margin-top: 90px;
}

.characteristics__title {
  max-width: 783px;
  margin: 0 auto;
}

.characteristics__subtitle {
  text-align: center;
  margin-top: 21px;
}

.characteristics__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 59px;
}

.characteristics__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  padding-bottom: 11px;
  position: relative;
}

.characteristics__col:nth-child(1) {
  padding-right: 40px;
  padding-top: 10px;
}

.characteristics__col:nth-child(2) {
  padding-top: 1px;
  padding-left: 41px;
}

.characteristics__col:nth-child(2):before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 2px;
  height: 100%;
  border-radius: 1px;
  background-color: #03d991;
  display: inline-block;
}

.characteristics__slider {
  max-width: 100%;
}

.characteristics__slider-wrapper {
  position: relative;
  border-radius: 10px;
  border: 1px solid rgba(51, 51, 51, 0.1);
  padding: 52px 0;
}

.characteristics__slider-item img {
  margin: 0 auto;
}

.characteristics__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 30px;
  position: relative;
}

.characteristics__item:before {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(51, 51, 51, 0.1);
  display: inline-block;
}

.characteristics__property {
  padding-right: 5px;
  background: #fff;
  position: relative;
  z-index: 2;
}

.characteristics__sense {
  width: 226px;
  padding-left: 5px;
  background: #fff;
  position: relative;
  z-index: 2;
}

.characteristics__equipment {
  margin-top: 24px;
}

.characteristics__equipment-title {
  font-family: "Futura PT - Demi", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
}

.characteristics__equipment-list {
  margin: 15px 0 0 13px;
}

.characteristics__equipment-item {
  color: rgba(51, 51, 51, 0.6);
  font-size: 16px;
  line-height: 24px;
  position: relative;
}

.characteristics__equipment-item:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -13px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4px;
  height: 4px;
  background-color: #03d991;
  border-radius: 50%;
  display: inline-block;
}

.fakes {
  background-color: rgba(51, 51, 51, 0.03);
  margin-top: 98px;
  padding: 100px 0 178px;
}

.fakes__warning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-family: "Futura PT - Demi", sans-serif;
  font-size: 28px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: #ed6666;
  min-width: 260px;
  padding: 14px 15px 13px;
}

.fakes__warning img {
  margin-right: 8px;
}

.fakes__warning-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fakes__title {
  margin-top: 20px;
}

.fakes__subtitle {
  margin-top: 21px;
}

.fakes__row {
  margin-top: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fakes__col:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 752px;
          flex: 0 0 752px;
  border-radius: 10px;
  border: 1px dashed #ed6666;
  padding: 35px 37px 41px 39px;
}

.fakes__col:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 385px;
          flex: 0 0 385px;
}

.fakes__text {
  font-family: "Futura PT - Book", sans-serif;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
}

.fakes__text_small {
  font-weight: 300;
  line-height: 1.2;
  margin-top: 20px;
}

.fakes__certificates-title {
  font-family: "Futura PT - Demi", sans-serif;
  font-weight: 400;
  text-align: center;
}

.fakes__certificates-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.fakes__certificates-image:nth-child(n+2) {
  margin-left: 12px;
}

.fakes__guarantee-title {
  margin-top: 51px;
}

.blocks-wrapper {
  background: #1b1d1c url("../img/backgrounds/comfortable-bg.jpg") no-repeat center/cover;
  padding-bottom: 100px;
}

.guarantee__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.guarantee__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.333% - 5px);
          flex: 0 0 calc(33.333% - 5px);
  -webkit-box-shadow: 0 15px 30px rgba(51, 51, 51, 0.05);
          box-shadow: 0 15px 30px rgba(51, 51, 51, 0.05);
  border-radius: 10px;
  background-color: #fff;
  padding: 30px 59px 37px;
  text-align: center;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.guarantee__image {
  min-width: 70px;
  max-width: 70px;
  height: 70px;
  -webkit-box-shadow: 0 5px 20px rgba(3, 217, 145, 0.3);
          box-shadow: 0 5px 20px rgba(3, 217, 145, 0.3);
  background-color: #03d991;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.guarantee__image img {
  width: 100%;
}

.guarantee__title {
  font-family: "Futura PT - Demi", sans-serif;
  font-size: 22px;
  font-weight: 400;
}

.guarantee__text {
  color: rgba(51, 51, 51, 0.7);
  margin-top: 19px;
}

.guarantee__text-wrapper {
  margin-top: 20px;
}

.conditions__title {
  max-width: 719px;
  margin: -53px auto 0;
}

.conditions__subtitle {
  margin-top: 30px;
}

.conditions__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 59px;
}

.conditions__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 10px);
          flex: 0 0 calc(50% - 10px);
  border-radius: 10px;
  border: 1px dashed #03d991;
  padding: 40px 45px 42px 60px;
}

.conditions__item-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.conditions__item-image {
  min-width: 34px;
  max-width: 34px;
  height: 34px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 16px;
  border-radius: 50%;
}

.conditions__item-title {
  color: #fff;
  font-family: "Futura PT - Demi", sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.conditions__text {
  color: #fff;
  line-height: 1.2;
}

.conditions__text:not(:first-of-type) {
  margin-top: 17px;
}

.conditions__text_opacity {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.2;
  margin-top: 15px;
}

.conditions__warning {
  margin-top: 23px;
}

.conditions__warning-title {
  color: #ed6666;
  font-family: "Futura PT - Demi", sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.conditions__warning-text {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.2;
  margin-top: 16px;
  padding: 2px 0 2px 22px;
  position: relative;
}

.conditions__warning-text:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.3;
  display: inline-block;
}

.steps {
  padding: 98px 10px 100px;
}

.steps__title {
  max-width: 595px;
  margin: 0 auto;
}

.steps__subtitle {
  margin-top: 30px;
}

.steps__row {
  margin-top: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.steps__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(25% - 10px);
          flex: 0 0 calc(25% - 10px);
  -webkit-box-shadow: 0 5px 30px rgba(51, 51, 51, 0.05);
          box-shadow: 0 5px 30px rgba(51, 51, 51, 0.05);
  border-radius: 10px;
  background-color: #ffffff;
  text-align: center;
  padding: 0 45px 36px;
}

.steps__item-nubmer {
  width: 70px;
  height: 70px;
  -webkit-box-shadow: 0 5px 20px rgba(3, 217, 145, 0.3);
          box-shadow: 0 5px 20px rgba(3, 217, 145, 0.3);
  background-color: #03d991;
  border-radius: 50%;
  color: #fff;
  font-size: 46px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.steps__item-image {
  min-height: 108px;
  margin-top: -10px;
}

.steps__item-image img {
  margin: 0 auto;
}

.steps__item-title {
  font-family: "Futura PT - Demi", sans-serif;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  margin-top: 19px;
}

.steps__item-subtitle {
  color: rgba(51, 51, 51, 0.7);
  font-size: 18px;
  line-height: 1.2;
  margin-top: 19px;
}

.reviews {
  background-color: rgba(51, 51, 51, 0.03);
  padding: 98px 0 99px;
}

.reviews__subtitle {
  margin-top: 29px;
}

.reviews__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 60px;
}

.reviews__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.333% - 10px);
          flex: 0 0 calc(33.333% - 10px);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 40px 60px;
}

.reviews__item-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-bottom: 26px;
}

.reviews__item-main:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -10px;
  right: -10px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  display: inline-block;
}

.reviews__item-man {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.reviews__item-man img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__item-main-text {
  margin-left: 20px;
}

.reviews__item-name {
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
}

.reviews__item-date {
  color: rgba(51, 51, 51, 0.6);
  font-size: 14px;
  line-height: 1;
  font-style: italic;
  margin-top: 9px;
}

.reviews__item-title {
  font-size: 16px;
  font-weight: 500;
  margin-top: 24px;
}

.reviews__item-image {
  border-radius: 10px;
  background-color: #333;
  margin-top: 18px;
}

.reviews__item-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__item-text {
  color: rgba(51, 51, 51, 0.6);
  font-size: 16px;
  line-height: 1.2;
  font-weight: 300;
  margin-top: 20px;
}

.reviews__item-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.reviews__item-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__item-star {
  margin-right: 8px;
}

.reviews__item-rating-text {
  font-size: 16px;
  margin-left: 8px;
}

.blocks-wrapper_1 {
  background: #1b1d1c url("../img/backgrounds/order-bg.jpg") no-repeat center/cover;
  padding: 97px 0 63px;
}

.order__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.order__col {
  max-width: 100%;
}

.order__col:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 622px;
          flex: 0 0 622px;
  position: relative;
  margin-top: 83px;
}

.order__col:nth-child(1):before {
  content: '';
  position: absolute;
  top: -29px;
  right: -247px;
  width: 277px;
  height: 598px;
  background: url("../img/gauge.png") no-repeat center/contain;
  display: inline-block;
  z-index: 2;
}

.order__col:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 400px;
          flex: 0 0 400px;
  position: relative;
  z-index: 2;
}

.order__pretitle {
  color: #03d991;
  font-family: "Futura PT - Book", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.order__title {
  color: #fff;
  font-family: "Futura PT - Demi", sans-serif;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 23px;
}

.order__subtitle {
  position: relative;
  color: #fff;
  font-family: "Futura PT - Book", sans-serif;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  max-width: 560px;
  margin-top: 24px;
  padding-left: 119px;
}

.order__subtitle:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 70px;
  height: 1px;
  background-color: #03d991;
  display: inline-block;
}

.order__gift {
  position: absolute;
  right: -57px;
  top: -20px;
  -webkit-box-shadow: 0 5px 30px rgba(51, 51, 51, 0.05);
          box-shadow: 0 5px 30px rgba(51, 51, 51, 0.05);
  border-radius: 10px;
  background-color: #fff;
  padding: 10px 65px 16px 22px;
  display: inline-block;
}

.order__gift-text {
  color: #f3b700;
  font-family: "Futura PT - Demi", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
}

.order__gift-image {
  max-width: 86px;
  margin-top: 4px;
}

.order__gift-button {
  position: absolute;
  bottom: 159px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(-90deg);
      -ms-transform: translateX(-50%) rotate(-90deg);
          transform: translateX(-50%) rotate(-90deg);
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.order__gift-button span {
  margin-left: 12px;
}

.order__gift-button img {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.order__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
}

.order__advantages_1 {
  display: none;
  margin: 0 0 0 43px;
}

.order__advantages-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 6px);
          flex: 0 0 calc(50% - 6px);
  max-width: calc(50% - 6px);
  border-radius: 10px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 23px 22px 23px 21px;
}

.order__advantages-item:nth-child(n+3) {
  margin-top: 12px;
}

.order__advantages-icon {
  min-width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.order__advantages-icon img {
  max-width: none;
}

.order__advantages-text {
  font-family: "Futura PT - Book", sans-serif;
  line-height: 1.2;
  font-weight: 400;
  margin-left: 19px;
}

.order__price {
  margin-top: 18px;
  margin-left: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: skewX(-10deg);
      -ms-transform: skewX(-10deg);
          transform: skewX(-10deg);
}

.order__price .price__item {
  border-radius: 10px;
  text-align: center;
}

.order__price .price__old {
  border: 1px dashed #03d991;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 171px;
          flex: 0 0 171px;
  padding: 13px 25px 16px 0;
}

.order__price .price__old-text {
  color: rgba(51, 51, 51, 0.5);
  font-family: "Futura PT - Book", sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-transform: skewX(10deg);
      -ms-transform: skewX(10deg);
          transform: skewX(10deg);
}

.order__price .price__old-number {
  display: inline-block;
  font-family: "Futura PT - Demi", sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-decoration: line-through;
  -webkit-transform: skewX(10deg);
      -ms-transform: skewX(10deg);
          transform: skewX(10deg);
  line-height: 18px;
  margin-top: 9px;
  padding-left: 9px;
}

.order__price .price__now {
  -webkit-box-shadow: 0 15px 40px rgba(3, 217, 145, 0.2);
          box-shadow: 0 15px 40px rgba(3, 217, 145, 0.2);
  background-color: #03d991;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 162px;
          flex: 0 0 162px;
  margin-left: -19px;
  padding: 14px 12px 16px 2px;
}

.order__price .price__now-text {
  color: #fff;
  font-family: "Futura PT - Book", sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-transform: skewX(10deg);
      -ms-transform: skewX(10deg);
          transform: skewX(10deg);
}

.order__price .price__now-number {
  display: inline-block;
  color: #fff;
  font-family: "Futura PT - Demi", sans-serif;
  font-size: 24px;
  font-weight: 400;
  -webkit-transform: skewX(10deg);
      -ms-transform: skewX(10deg);
          transform: skewX(10deg);
  line-height: 18px;
  margin-top: 9px;
  padding-left: 8px;
}

.order__pieces {
  -webkit-transform: skewX(10deg);
      -ms-transform: skewX(10deg);
          transform: skewX(10deg);
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-align: left;
}

.order__pieces span {
  color: #f3b700;
  display: block;
}

.order__pieces-wrapper {
  position: absolute;
  right: -125px;
  bottom: 106px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  -webkit-transform: skewX(-10deg);
      -ms-transform: skewX(-10deg);
          transform: skewX(-10deg);
  padding: 15px 25px 21px 40px;
}

.order__form {
  margin-top: 23px;
}

.order__form-wrapper {
  border-radius: 10px;
  background-color: #ffffff;
  text-align: center;
  position: relative;
  max-width: 400px;
  padding: 32px 40px 40px;
}

.order__form-title {
  color: #272727;
  font-size: 30px;
  line-height: 1.1;
  font-weight: 500;
  max-width: 284px;
  margin: 0 auto;
}

.order__form-title span {
  color: #f3b700;
}

.order__form-subtitle {
  color: rgba(39, 39, 39, 0.6);
  font-size: 24px;
  margin-top: 7px;
}

.order__form-field {
  font-family: "Futura PT - Book";
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #eaeaea;
  background-color: #f6f6f6;
  width: 100%;
  padding: 25px 30px 27px;
}

.order__form-field::-webkit-input-placeholder {
  color: rgba(51, 51, 51, 0.6);
}

.order__form-field::-moz-placeholder {
  color: rgba(51, 51, 51, 0.6);
}

.order__form-field:-ms-input-placeholder {
  color: rgba(51, 51, 51, 0.6);
}

.order__form-field::-ms-input-placeholder {
  color: rgba(51, 51, 51, 0.6);
}

.order__form-field::placeholder {
  color: rgba(51, 51, 51, 0.6);
}

.order__form-field:nth-child(n+2) {
  margin-top: 14px;
}

.order__form-button {
  color: #fff;
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-box-shadow: 0 15px 40px rgba(3, 217, 145, 0.3);
          box-shadow: 0 15px 40px rgba(3, 217, 145, 0.3);
  border-radius: 10px;
  background-color: #03d991;
  width: 100%;
  margin-top: 14px;
  padding: 35px 40px;
}

.order__privacy {
  color: rgba(51, 51, 51, 0.6);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  max-width: 218px;
  margin: 21px auto 0;
}

.order__privacy a {
  color: rgba(51, 51, 51, 0.6);
  border-bottom: 1px dashed rgba(51, 51, 51, 0.33);
}

.footer {
  text-align: center;
  margin-top: 80px;
  padding: 0 10px;
}

.footer__text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 28px;
}

.footer a {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.33);
}

@media screen and (max-width: 1480px) {
  .order__row {
    max-width: 748px;
    margin: 0 auto;
  }

  .order__col:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 34px;
    padding-top: 0;
  }

  .order__gift {
    right: -83px;
    top: 277px;
  }

  .order__advantages {
    display: none;
  }

  .order__advantages_1 {
    display: block;
  }

  .order__advantages-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    padding: 22px 18px;
  }

  .order__advantages-item:nth-child(n+2) {
    margin-top: 12px;
  }

  .order__pieces-wrapper {
    top: 154px;
    right: -137px;
    bottom: auto;
    padding: 15px 28px 21px 40px;
  }
}

@media screen and (max-width: 1220px) {
  .slick-prev_1 {
    left: 20px;
  }

  .slick-next_1 {
    right: 20px;
  }

  .main {
    padding-bottom: 61px;
  }

  .main__row {
    max-width: 748px;
    margin: 115px auto 0;
  }

  .main__col:nth-child(1):before {
    right: auto;
    left: 502px;
  }

  .main__col:nth-child(1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 516px;
            flex: 0 0 516px;
  }

  .main__col:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-top: 50px;
    padding-top: 0;
  }

  .main__subtitle {
    padding-left: 94px;
  }

  .main__discount-wrapper {
    top: -44px;
    right: auto;
    left: 434px;
  }

  .main__gift {
    padding: 14px 78px 2px 7px;
    right: auto;
    left: 458px;
    width: 174px;
  }

  .main__gift-text {
    margin-left: 0;
  }

  .main__gift-image {
    max-width: 63px;
    margin: 0 0 0 19px;
  }

  .main__gift-button {
    display: none;
  }

  .main__advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main__advantages-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 9px);
            flex: 0 0 calc(50% - 9px);
    padding: 19px 44px 25px 50px;
  }

  .main__advantages-item:nth-child(n+2) {
    margin-top: 0;
  }

  .main__advantages-item:nth-child(n+3) {
    margin-top: 15px;
  }

  .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__navigation {
    margin-top: 17px;
  }

  .gift {
    margin-top: 69px;
    padding-bottom: 70px;
  }

  .gift__col:nth-child(1):before {
    width: 85px;
    height: 91px;
    bottom: 50px;
    left: 311px;
  }

  .features__row {
    max-width: 748px;
    margin: 79px auto 0;
  }

  .features__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 9px);
            flex: 0 0 calc(50% - 9px);
  }

  .features__item:nth-child(n+3) {
    margin-top: 60px;
  }

  .features__row_1 {
    max-width: 748px;
    margin: 30px auto 0;
  }

  .features__item_1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 33px 140px 33px 113px;
  }

  .features__item_1:nth-child(n+2) {
    margin-top: 15px;
  }

  .gallery {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .gallery__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 2px);
            flex: 0 0 calc(50% - 2px);
  }

  .gallery__image:nth-child(n+3) {
    margin-top: 2px;
  }

  .gallery__image:nth-child(n+5) {
    display: none;
  }

  .characteristics {
    max-width: 748px;
  }

  .characteristics__col:nth-child(1) {
    padding: 0;
  }

  .characteristics__col:nth-child(2) {
    margin-top: 29px;
    padding-left: 39px;
  }

  .characteristics__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }

  .fakes__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 39px;
  }

  .fakes__col:nth-child(1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 748px;
    padding: 25px 25px 26px 20px;
  }

  .fakes__col:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 748px;
    margin-top: 21px;
  }

  .fakes__text {
    font-size: 16px;
  }

  .fakes__text_small {
    font-size: 16px;
    margin-top: 16px;
  }

  .blocks-wrapper {
    padding-bottom: 83px;
  }

  .guarantee__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 748px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    padding: 32px 62px 31px 60px;
  }

  .guarantee__item:nth-child(2) {
    margin-top: 20px;
  }

  .guarantee__text {
    margin-top: 14px;
  }

  .guarantee__text-wrapper {
    margin-top: 0;
    margin-left: 29px;
  }

  .conditions__row {
    margin-top: 39px;
  }

  .conditions__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 748px;
    margin: 0 auto;
  }

  .conditions__item:nth-child(n+2) {
    margin-top: 15px;
  }

  .steps__row {
    max-width: 748px;
    margin: 72px auto 0;
  }

  .steps__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 9px);
            flex: 0 0 calc(50% - 9px);
  }

  .steps__item:nth-child(n+3) {
    margin-top: 53px;
  }

  .reviews__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
    margin-right: -9px;
  }

  .reviews__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 9px);
            flex: 0 0 calc(50% - 9px);
    margin-right: 9px;
    padding: 40px 48px 40px 47px;
  }

  .reviews__item:nth-child(n+3) {
    margin-top: 14px;
  }

  .order__col:nth-child(1):before {
    right: auto;
    left: 502px;
  }

  .order__col:nth-child(1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 516px;
            flex: 0 0 516px;
  }

  .order__subtitle {
    padding-left: 94px;
  }

  .order__gift-text {
    margin-left: 0;
  }

  .order__gift-button {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .title {
    font-size: 28px;
  }

  .title_white {
    font-size: 28px;
  }

  .subtitle {
    font-size: 18px;
  }

  .subtitle_white {
    font-size: 18px;
  }

  .main__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 27px;
  }

  .main__col:nth-child(1):before {
    width: 184px;
    height: 398px;
    top: 61px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .main__col:nth-child(1) {
    text-align: center;
  }

  .main__col:nth-child(2) {
    margin-top: 32px;
  }

  .main__pretitle {
    font-size: 18px;
  }

  .main__title {
    font-size: 36px;
    text-align: center;
    margin-top: 418px;
  }

  .main__subtitle {
    padding-left: 0;
    text-align: center;
    font-size: 20px;
  }

  .main__subtitle:before {
    display: none;
  }

  .main__button {
    margin-top: 30px;
    padding: 33px 5px 36px;
    width: 100%;
    max-width: 340px;
  }

  .main__discount {
    width: 86px;
    height: 86px;
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
  }

  .main__discount-wrapper {
    top: 43px;
    left: calc(50% + 60px);
  }

  .main__discount-number {
    font-size: 28px;
  }

  .main__discount-text {
    font-size: 14px;
    line-height: 11px;
  }

  .main__gift {
    top: 289px;
    bottom: auto;
    left: calc(50% + 4px);
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  .main__advantages {
    max-width: 340px;
    margin: 0 auto;
  }

  .main__advantages-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 23px 41px 23px 37px;
  }

  .main__advantages-item:nth-child(n+2) {
    margin-top: 15px;
  }

  .main__price {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 25px;
    margin-left: 0;
  }

  .main__price .price__days {
    display: none;
  }

  .main .price__days-text_1 {
    display: block;
  }

  .header__navigation {
    display: none;
  }

  .gift__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .gift__col:nth-child(1):before {
    bottom: auto;
    top: 19px;
    left: auto;
    right: -2px;
  }

  .gift__col:nth-child(1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    width: 400px;
    max-width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 14px;
  }

  .gift__col:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    width: 400px;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  .gift__text {
    max-width: none;
  }

  .gift__text_big {
    max-width: none;
  }

  .gift__image {
    margin: 0 auto;
  }

  .features__row {
    max-width: 340px;
    margin: 60px auto 0;
  }

  .features__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .features__item:nth-child(n+2) {
    margin-top: 60px;
  }

  .features__row_1 {
    max-width: 340px;
  }

  .features__item_1 {
    padding: 33px 30px 37px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .features__item_1-text-wrapper {
    margin: 30px 0 0 0;
  }

  .video__wrapper {
    max-height: 320px;
  }

  .video__wrapper iframe {
    height: 320px !important;
  }

  .video__preview {
    height: 320px;
  }

  .characteristics {
    padding: 0 20px;
    margin-top: 71px;
  }

  .characteristics__subtitle {
    margin-top: 16px;
  }

  .characteristics__row {
    margin-top: 36px;
  }

  .characteristics__col:nth-child(2):before {
    display: none;
  }

  .characteristics__col:nth-child(2) {
    padding-left: 0;
  }

  .characteristics__slider-item img {
    max-width: calc(100% - 100px);
  }

  .characteristics__item {
    font-size: 14px;
    line-height: 25px;
  }

  .characteristics__sense {
    width: 144px;
  }

  .characteristics__equipment-title {
    max-width: 220px;
  }

  .fakes__row {
    margin-top: 36px;
  }

  .fakes__certificates-image:nth-child(n+2) {
    margin-left: 5px;
  }

  .guarantee__item {
    display: block;
    text-align: center;
    padding: 30px 31px 40px;
  }

  .guarantee__text-wrapper {
    margin: 20px 0 0;
  }

  .conditions__item {
    padding: 40px 21px 43px;
  }

  .steps__row {
    max-width: 340px;
  }

  .steps__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .steps__item:nth-child(n+2) {
    margin-top: 53px;
  }

  .reviews__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-right: 0;
    padding: 40px 35px;
  }

  .reviews__item:nth-child(n+2) {
    margin-top: 14px;
  }

  .blocks-wrapper_1 {
    padding: 62px 0 47px;
  }

  .order__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .order__col:nth-child(1):before {
    width: 184px;
    height: 398px;
    top: 233px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .order__col:nth-child(1) {
    text-align: center;
  }

  .order__col:nth-child(2) {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 360px;
    margin-top: 422px;
  }

  .order__pretitle {
    font-size: 18px;
  }

  .order__title {
    font-size: 36px;
    text-align: center;
  }

  .order__subtitle {
    padding-left: 0;
    text-align: center;
    font-size: 20px;
  }

  .order__subtitle:before {
    display: none;
  }

  .order__gift {
    top: 455px;
    bottom: auto;
    right: auto;
    left: calc(50% + 4px);
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    padding: 14px 78px 2px 7px;
  }

  .order__gift-image {
    max-width: 63px;
    margin: 4px auto 0;
  }

  .order__advantages {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0;
  }

  .order__advantages-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 23px 30px 23px 35px;
  }

  .order__advantages-item:nth-child(n+2) {
    margin-top: 15px;
  }

  .order__price {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 25px;
    margin-left: 0;
  }

  .order__pieces-wrapper {
    display: none;
  }

  .order__form-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-top: 30px;
    padding: 40px 10px;
  }

  .order__form-button {
    padding: 35px 20px;
  }
}

@media screen and (max-width: 400px) {
  .main__price .price__old {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 160px;
            flex: 0 0 160px;
  }

  .main__price .price__now {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 149px;
            flex: 0 0 149px;
  }

  .header__description {
    margin-left: 14px;
  }

  .video__wrapper {
    max-height: 180px;
  }

  .video__wrapper iframe {
    height: 180px !important;
  }

  .video__preview {
    height: 180px;
  }

  .gallery {
    max-width: 360px;
  }

  .gallery__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .gallery__image:nth-child(n+2) {
    margin-top: 2px;
  }

  .gallery__image:nth-child(n+5) {
    display: block;
  }

  .order__price .price__old {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 150px;
            flex: 0 0 150px;
  }

  .order__price .price__now {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 139px;
            flex: 0 0 139px;
    padding-right: 6px;
  }
}

@media screen and (max-width: 379px) {
  .main__pretitle {
    font-size: 16px;
  }

  .main__title {
    font-size: 30px;
  }

  .main__subtitle {
    font-size: 16px;
    margin-top: 10px;
  }

  .main__button {
    font-size: 18px;
    padding: 30px 5px 32px;
  }

  .main__gift {
    left: calc(50% + 24px);
    padding-left: 3px;
  }

  .main__gift-text {
    font-size: 13px;
  }

  .main__gift-image {
    max-width: 50px;
  }

  .characteristics {
    padding: 0 10px;
  }

  .characteristics__item {
    font-size: 12px;
    line-height: 20px;
  }

  .characteristics__sense {
    width: 130px;
  }

  .order__col:nth-child(1):before {
    top: 193px;
  }

  .order__pretitle {
    font-size: 16px;
  }

  .order__title {
    font-size: 30px;
  }

  .order__subtitle {
    font-size: 16px;
    margin-top: 10px;
  }

  .order__gift {
    top: 415px;
  }

  .order__gift-text {
    font-size: 13px;
  }

  .order__gift-image {
    max-width: 50px;
  }

  .order__advantages-item {
    padding: 20px 20px 20px 22px;
  }

  .order__advantages-text {
    margin-left: 12px;
  }

  .order__form-title {
    font-size: 24px;
  }

  .order__form-subtitle {
    font-size: 18px;
  }

  .footer__text {
    font-size: 14px;
  }
}

@media screen and (max-width: 359px) {
  .order__gift {
    left: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.webp .main { background: #1b1d1c url(../img/backgrounds/main-bg.webp) no-repeat center/cover; }

.webp .main__col:nth-child(1):before { background: url(../img/gauge.webp) no-repeat center/contain; }

.webp .gift__col:nth-child(1):before { background: url(../img/gift.webp) no-repeat center/cover; }

.webp .video { background: url(../img/backgrounds/video-bg.webp) no-repeat center/cover; }

.webp .blocks-wrapper { background: #1b1d1c url(../img/backgrounds/comfortable-bg.webp) no-repeat center/cover; }

.webp .blocks-wrapper_1 { background: #1b1d1c url(../img/backgrounds/order-bg.webp) no-repeat center/cover; }

.webp .order__col:nth-child(1):before { background: url(../img/gauge.webp) no-repeat center/contain; }