@charset "UTF-8";

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.eot");
  src: url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.eot");
  src: url("../fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Light.eot");
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

*:focus,
*:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  background: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: #000;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}

ul {
  margin: 0;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

body {
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
}

.subtitle {
  opacity: 0.6;
  font-size: 16px;
  line-height: 22px;
}

.header {
  padding-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-size: 18px;
  font-weight: 700;
  margin-right: 19px;
  color: #fff;
}

.header__logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__text {
  font-weight: 400;
  opacity: 0.5;
  font-size: 14px;
  line-height: 1.2;
  color: #fff;
  max-width: 359px;
}

.header__experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__experience-image {
  max-width: none;
  margin: -24px -24px;
}

.header__experience-image-wrapper {
  width: 35px;
  height: 40px;
  position: relative;
}

.header__experience-image-wrapper span {
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -11px);
      -ms-transform: translate(-50%, -11px);
          transform: translate(-50%, -11px);
}

.header__experience-text {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin-left: 14px;
  max-width: 128px;
}

.header__geolocation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__geolocation-text {
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  margin-left: 12px;
  max-width: 205px;
}

.header__phone {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  -webkit-transition: 0.15s linear;
  -o-transition: 0.15s linear;
  transition: 0.15s linear;
}

.header__phone:nth-child(n+2) {
  margin-top: 5px;
}

.header__phone:hover {
  color: #93b3f5;
}

.main {
  min-height: 600px;
  background: url("../img/Boiler-repair-Swindon.png") no-repeat center/cover;
}

.main__content {
  margin-top: 80px;
}

.main__title {
  color: #fff;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 80px;
  text-align: center;
}

.main__subtitle {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  margin-top: 30px;
  text-align: center;
}

.main__subtitle span {
  background: #5c92ff;
  padding: 0 5px 0 5px;
}

.main__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px auto 0;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 15px 40px;
  max-width: 647px;
}

.main__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__item-name {
  color: #fff;
  font-size: 18px;
  margin-left: 9px;
}

.main__item:nth-child(n+2) {
  margin-left: 31px;
}

.main__item-check {
  width: 18px;
  max-width: none;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -56px;
}

.advantages__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(25% - 10px);
          flex: 0 0 calc(25% - 10px);
  -webkit-box-shadow: 0 3px 20px rgba(51, 51, 51, 0.05);
          box-shadow: 0 3px 20px rgba(51, 51, 51, 0.05);
  border-radius: 10px;
  background-color: #fff;
  padding: 35px 28px;
  min-height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__item-text {
  font-size: 14px;
  line-height: 1.2;
  margin-left: 13px;
}

.advantages__item-text span {
  font-weight: 600;
}

.advantages__item-image {
  display: block;
  max-width: none;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 85px 10px 0;
}

.services__title {
  margin-bottom: 43px;
}

.services__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 20px);
          flex: 0 0 calc(50% - 20px);
  max-width: calc(50% - 20px);
}

.services__item {
  position: relative;
  margin-bottom: 30px;
  padding-left: 53px;
  line-height: 1.2;
  font-weight: 300;
}

.services__item:before {
  content: url("../img/services-item.png");
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
}

.services__warning {
  border-radius: 10px;
  border: 1px dashed #fa7f7f;
  padding: 39px 59px;
  margin-top: 46px;
}

.services__warning-title {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__warning-image {
  margin-right: 22px;
}

.services__warning-subtitle {
  opacity: 0.6;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.services__include {
  -webkit-box-shadow: 0 3px 20px rgba(51, 51, 51, 0.05);
          box-shadow: 0 3px 20px rgba(51, 51, 51, 0.05);
  border-radius: 10px;
  border: 1px solid #f2f6ff;
  background-color: #ffffff;
  padding: 40px 61px 42px 49px;
}

.services__include-title {
  color: #fff;
  font-weight: 600;
  font-size: 22px;
  border-radius: 5px;
  background-color: #5c92ff;
  padding: 11px 22px;
  display: inline-block;
}

.services__include-list {
  counter-reset: myCounter;
  margin-top: 25px;
}

.services__include-item {
  padding-left: 22px;
  list-style: none;
  position: relative;
  font-size: 14px;
  font-weight: 300;
}

.services__include-item:nth-child(n+2) {
  margin-top: 21px;
}

.services__include-item:before {
  counter-increment: myCounter;
  content: counter(myCounter) ".";
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}

.services__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 41px;
}

.services__buttons-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 260px;
          flex: 0 0 260px;
  max-width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__button {
  width: 260px;
  padding: 19px 34px;
  text-align: center;
  -webkit-box-shadow: 0 5px 15px rgba(92, 146, 255, 0.6);
          box-shadow: 0 5px 15px rgba(92, 146, 255, 0.6);
  border-radius: 10px;
  background-color: #5c92ff;
  border: 2px solid #5c92ff;
  color: #fefefe;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: 0.15s linear;
  -o-transition: 0.15s linear;
  transition: 0.15s linear;
}

.services__button-image {
  height: 148px;
}

.services__button-image img {
  max-width: none;
}

.services__button:hover {
  background-color: #fff;
  color: #5c92ff;
}

.connection {
  padding: 85px 0;
  background: url("../img/connection-bg.png") no-repeat top left/contain;
}

.connection__title {
  text-align: center;
  max-width: 663px;
  margin: 0 auto;
  padding: 0 10px;
}

.connection__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.connection__col:nth-child(odd) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50.8333% - 50px);
          flex: 0 0 calc(50.8333% - 50px);
  max-width: calc(50.8333% - 50px);
  margin-right: 50px;
}

.connection__col:nth-child(even) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49.1667%;
          flex: 0 0 49.1667%;
  max-width: 49.1667%;
}

.connection__col-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.connection__col-title p {
  max-width: 370px;
  font-size: 22px;
  font-weight: 600;
  margin-left: 20px;
}

.connection__col-icon {
  max-width: none;
}

.connection__col_1 {
  -webkit-box-shadow: 0 3px 20px rgba(51, 51, 51, 0.05);
          box-shadow: 0 3px 20px rgba(51, 51, 51, 0.05);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 36px 50px 37px;
}

.connection__text {
  font-size: 16px;
  line-height: 1.375;
  font-weight: 300;
  max-width: 533px;
}

.connection__text span {
  font-weight: 600;
}

.connection__line {
  display: block;
  height: 1px;
  background-color: #191919;
  opacity: 0.1;
  margin: 40px 0;
}

.connection__text_1 {
  max-width: 487px;
  opacity: 0.6;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 30px;
}

.connection__list-title {
  font-size: 18px;
  font-weight: 600;
}

.connection__list {
  max-width: 464px;
  opacity: 0.6;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  margin-top: 25px;
}

.connection__list-item:nth-child(n+2) {
  margin-top: 24px;
}

.gasification {
  margin-top: 39px;
}

.gasification__title {
  text-align: center;
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 35px;
}

.gasification__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1110px;
  padding: 0 20px;
  margin: 0 auto;
}

.gasification__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.333% - 24px);
          flex: 0 0 calc(33.333% - 24px);
  max-width: calc(33.333% - 24px);
  min-height: 100px;
  -webkit-box-shadow: 0 3px 15px rgba(51, 51, 51, 0.08);
          box-shadow: 0 3px 15px rgba(51, 51, 51, 0.08);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 29px 40px;
  position: relative;
}

.gasification__item:before {
  content: '';
  position: absolute;
  border: 1px solid #333;
  border-radius: 10px;
  display: inline-block;
  top: -9px;
  right: -9px;
  bottom: -9px;
  left: -9px;
  opacity: 0.1;
  z-index: -1;
}

.gasification__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gasification__item-image {
  margin-right: 20px;
}

.gasification__item-text {
  font-size: 14px;
  line-height: 1.2;
}

.schedule {
  background-color: #f5f8ff;
  padding: 85px 10px;
}

.schedule__title {
  text-align: center;
  max-width: 843px;
  margin: 0 auto 39px;
}

.list {
  background-color: #f5f8ff;
  padding: 85px 10px;
  background: url("../img/list-copy.png") no-repeat center/cover;
}

.list__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list__col:nth-child(odd) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(46.334% - 10px);
          flex: 0 0 calc(46.334% - 10px);
  max-width: calc(46.334% - 10px);
}

.list__col:nth-child(even) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(53.666% - 10px);
          flex: 0 0 calc(53.666% - 10px);
  max-width: calc(53.666% - 10px);
}

.list__title {
  max-width: 388px;
}

.list__subtitle {
  font-size: 16px;
  line-height: 22px;
  margin-top: 29px;
  max-width: 388px;
}

.list__image {
  max-width: none;
}

.list__image-wrapper {
  max-width: 100%;
  margin-top: 5px;
}

.list__item {
  padding: 11px 36px;
  border-radius: 10px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 54px;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 15px;
}

.list__name {
  font-size: 14px;
  line-height: 1.2;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__button {
  border-bottom: 1px dashed rgba(51, 51, 51, 0.5);
  padding: 0 1px;
  -webkit-transition: 0.15s linear;
  -o-transition: 0.15s linear;
  transition: 0.15s linear;
}

.list__button:hover {
  color: #9dbaf5;
  border-bottom: 1px dashed rgba(157, 186, 245, 0.5);
}

.list__button-wrapper {
  padding-left: 33px;
  margin-left: 33px;
  border-left: 1px solid rgba(51, 51, 51, 0.1);
  display: block;
  min-height: 100%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map {
  min-height: 516px;
  position: relative;
  padding-top: 273px;
}

.map iframe {
  position: absolute;
  top: 0;
  height: 516px;
}

.map__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  position: relative;
}

.map__phones {
  background-color: #fff;
  border-radius: 10px;
  padding: 33px 42px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 390px;
          flex: 0 0 390px;
  max-width: 390px;
}

.map__phones-title {
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
}

.map__phone {
  display: block;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
  margin-left: 16px;
}

.map__phone-wrapper {
  background-color: #ffff;
  border: 1px dashed #d5e3ff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 260px;
  min-width: 260px;
  margin: 14px auto 0;
}

.map__phone-wrapper:nth-child(n+2) {
  margin-top: 10px;
}

.map__phone-icon {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(91, 145, 255, 0.2);
          box-shadow: 0px 5px 15px 0px rgba(91, 145, 255, 0.2);
  border-radius: 10px;
  margin: -1px 0 -1px -1px;
  width: 50px;
  height: 50px;
  position: relative;
}

.map__phone-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.map__info {
  background-color: #f6f6f6;
  -webkit-box-shadow: 0px 3px 20px 0px rgba(51, 51, 51, 0.05);
          box-shadow: 0px 3px 20px 0px rgba(51, 51, 51, 0.05);
  border-radius: 0 10px 10px 0;
  padding: 41px 30px 41px 60px;
  min-height: 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.map__info-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.map__info-col:nth-child(n+2) {
  margin-left: 10px;
}

.map__info-title {
  opacity: 0.6;
  font-size: 14px;
  line-height: 1.2;
}

.map__info-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 11px;
}

.map__info-icon {
  display: inline-block;
  width: 30px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;
  position: relative;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 3px 15px 0px rgba(51, 51, 51, 0.05);
          box-shadow: 0px 3px 15px 0px rgba(51, 51, 51, 0.05);
  border-radius: 50%;
  margin-right: 11px;
}

.map__info-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.map__info-text {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
}

.footer {
  padding: 43px 10px 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__logo {
  margin-right: 29px;
}

.footer__logo img {
  max-width: none;
}

.footer__subtitle {
  opacity: 0.5;
  font-size: 14px;
  max-width: 359px;
}

.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyrights {
  font-size: 14px;
  font-weight: 300;
}

.find-out {
  background-color: #f9f9f9;
  padding-bottom: 85px;
}

.find-out__title {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding-top: 73px;
}

.find-out__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.find-out__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 420px;
          flex: 0 0 420px;
}

.find-out__paragraph {
  opacity: 0.6;
  font-size: 16px;
  line-height: 22px;
}

.find-out__paragraph:nth-child(n+2) {
  margin-top: 22px;
}

.find-out__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 4px 0 0 87px;
}

.find-out__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.find-out__item:nth-child(odd) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 339px;
          flex: 0 0 339px;
}

.find-out__item:nth-child(even) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 309px;
          flex: 0 0 309px;
  margin-left: 45px;
}

.find-out__item:nth-child(n+3) {
  margin-top: 20px;
}

.find-out__item-image {
  display: block;
  max-width: none;
  width: 80px;
  height: 80px;
}

.find-out__item-col {
  margin-left: 30px;
}

.find-out__item-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.find-out__item-text {
  opacity: 0.6;
  font-size: 16px;
  line-height: 1.375;
}

.find-out__break {
  display: block;
}

.pp {
  opacity: 0.6;
  font-size: 16px;
  line-height: 22px;
  padding-left: 30px;
}

.pp2 {
  opacity: 0.6;
  font-size: 16px;
  line-height: 22px;
}

.guarantee {
  padding: 85px 0;
  background: url("../img/guarantee.jpg") no-repeat center/cover;
  margin-top: 85px;
}

.guarantee__title {
  text-align: center;
  max-width: 646px;
  margin: 0 auto;
  padding: 0 10px;
  color: #fff;
}

.guarantee__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
}

.guarantee__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  max-width: 100%;
  border-radius: 10px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 2;
}

.guarantee__col:nth-child(n+2) {
  margin-left: 20px;
}

.guarantee__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
  padding-right: 30px;
}

.guarantee__item-icon {
  width: 80px;
  min-width: 80px;
  height: 80px;
  background-color: #5c92ff;
  border-radius: 10px 0px;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.guarantee__text {
  line-height: 1.2;
  padding: 30px 50px 0;
}

.guarantee__turnkey {
  border-radius: 0 0 10px 10px;
  background-color: #f6f6f6;
  padding: 30px 0 32px;
  margin-top: 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.guarantee__turnkey-title {
  max-width: 260px;
  font-size: 14px;
  line-height: 1.2;
  padding-left: 50px;
}

.guarantee__turnkey-list {
  padding: 0 50px;
  margin-top: 26px;
}

.guarantee__turnkey-item {
  max-width: 300px;
  color: rgba(51, 51, 51, 0.6);
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  padding-left: 35px;
  position: relative;
}

.guarantee__turnkey-item:nth-child(n+2) {
  margin-top: 20px;
}

.guarantee__turnkey-item:before {
  content: '';
  position: absolute;
  display: inline-block;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../img/плюсик.png");
  width: 20px;
  height: 20px;
}

.guarantee__fix {
  padding: 0 50px;
  margin-top: 30px;
}

.guarantee__fix-item {
  font-size: 16px;
  line-height: 1.2;
  position: relative;
  padding-left: 41px;
}

.guarantee__fix-item:nth-child(n+2) {
  margin-top: 18px;
}

.guarantee__fix-item:before {
  content: '';
  position: absolute;
  display: inline-block;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../img/tw.svg");
  width: 23px;
  height: 20px;
}

.guarantee__malfunctions {
  border-radius: 0 0 10px 10px;
  background-color: #f6f6f6;
  margin-top: 27px;
  padding: 31px 50px 32px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.guarantee__malfunctions-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.2;
  font-weight: 600;
}

.guarantee__malfunctions-icon {
  margin-right: 18px;
  max-width: none;
}

.guarantee__malfunctions-text {
  max-width: 286px;
  line-height: 1.2;
  margin-top: 25px;
  opacity: 0.6;
}

.guarantee__price-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(33.334% - 20px);
          flex: 0 1 calc(33.334% - 20px);
  max-width: calc(33.334% - 20px);
}

.guarantee__price-list .price-list__title {
  font-size: 18px;
  line-height: 1.38;
  font-weight: 300;
  color: #fff;
  text-align: center;
  max-width: 258px;
  margin-top: 35px;
  position: relative;
}

.guarantee__price-list .price-list__title span {
  display: block;
  font-size: 24px;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 5px;
}

.guarantee__price-list .price-list__title:before {
  content: '';
  position: absolute;
  left: -18px;
  bottom: -86px;
  width: 24px;
  height: 91px;
  display: inline-block;
  background: url("../img/guarantee-arrow.png") no-repeat center/contain;
}

.guarantee__price-list .price-list__image {
  margin-top: 26px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.guarantee__price-list .price-list__image img {
  max-width: none;
}

.guarantee__price-list .price-list__button {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
  color: #fefefe;
  background-color: #5c92ff;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(91, 145, 255, 0.6);
          box-shadow: 0px 5px 15px 0px rgba(91, 145, 255, 0.6);
  border-radius: 10px;
  padding: 26px 47px;
  -webkit-transition: 0.15s linear;
  -o-transition: 0.15s linear;
  transition: 0.15s linear;
}

.guarantee__price-list .price-list__button:hover {
  background-color: #79a3f7;
}

.guarantee__price-list_1 {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
  margin-top: 20px;
}

.guarantee__price-list_1 .price-list__title {
  font-size: 18px;
  line-height: 1.38;
  font-weight: 300;
  color: #fff;
  text-align: center;
  max-width: 258px;
  margin-left: 37px;
  margin: 26px 0 0 37px;
  position: relative;
}

.guarantee__price-list_1 .price-list__title span {
  display: block;
  font-size: 24px;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 5px;
}

.guarantee__price-list_1 .price-list__title:before {
  content: '';
  position: absolute;
  left: 218px;
  bottom: -54px;
  width: 83px;
  height: 42px;
  display: inline-block;
  background: url("../img/guarantee-arrow_1.png") no-repeat center/contain;
}

.guarantee__price-list_1 .price-list__image {
  max-height: 118px;
  margin-right: 65px;
}

.guarantee__price-list_1 .price-list__image img {
  max-width: 308px;
}

.guarantee__price-list_1 .price-list__col {
  text-align: right;
}

.guarantee__price-list_1 .price-list__button {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
  color: #fefefe;
  background-color: #5c92ff;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(91, 145, 255, 0.6);
          box-shadow: 0px 5px 15px 0px rgba(91, 145, 255, 0.6);
  border-radius: 10px;
  padding: 26px 47px;
  text-align: center;
  display: inline-block;
  position: relative;
}

.guarantee__price-list_1 .price-list__button:before {
  content: '';
  position: absolute;
  bottom: -58px;
  left: 36px;
  width: 82px;
  height: 43px;
  display: inline-block;
  background: url("../img/guarantee-arrow_2.png") no-repeat center/contain;
}

.guarantee__line {
  width: 240px;
  max-width: calc(100% - 150px);
  height: 1px;
  margin: -1px 0 0 110px;
  display: inline-block;
  opacity: 0.1;
  background-color: #191919;
}

@media screen and (max-width: 1220px) {
  .title {
    text-align: center;
  }

  .header__text {
    max-width: 210px;
    font-size: 12px;
  }

  .header__geolocation {
    display: none;
  }

  .main__content {
    margin-top: 121px;
  }

  .main__title {
    font-size: 26px;
  }

  .main__items {
    margin-top: 34px;
  }

  .advantages__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 14px);
            flex: 0 0 calc(50% - 14px);
    padding-left: 63px;
  }

  .advantages__item:nth-child(n+3) {
    margin-top: 15px;
  }

  .services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .services__title {
    margin-bottom: 39px;
    text-align: left;
  }

  .services__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    max-width: 748px;
  }

  .services__item {
    padding-right: 53px;
  }

  .services__include {
    margin-top: 40px;
    padding: 40px 50px;
  }

  .services__buttons {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .connection__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .connection__col:nth-child(odd) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-right: 0;
  }

  .connection__col:nth-child(even) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }

  .list__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .list__col:nth-child(odd) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }

  .list__col:nth-child(even) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-top: 40px;
  }

  .list__title {
    max-width: 100%;
  }

  .list__subtitle {
    max-width: 100%;
    text-align: center;
  }

  .list__image-wrapper {
    display: none;
  }

  .map__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .map__phones {
    border-radius: 10px 10px 0 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 900px;
    width: 100%;
    padding: 23px 10px 27px;
  }

  .map__phones-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 14px;
  }

  .map__phone-wrapper {
    margin: 0;
  }

  .map__phone-wrapper:nth-child(n+2) {
    margin-top: 0;
    margin-left: 17px;
  }

  .map__info-col:nth-child(1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 37.826%;
            flex: 0 0 37.826%;
  }

  .map__info-col:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 29.42%;
            flex: 0 0 29.42%;
  }

  .map__info-col:nth-child(3) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 23.623%;
            flex: 0 0 23.623%;
  }

  .map__info {
    border-radius: 0 0 10px 10px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 900px;
    width: 100%;
    padding: 31px 27px;
    min-height: 0;
  }

  .map {
    padding-top: 219px;
  }

  .footer__subtitle {
    max-width: 245px;
  }

  .find-out__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .find-out__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 700px;
            flex: 0 0 700px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .find-out__items {
    width: 700px;
    max-width: 100%;
    margin: 50px auto 0;
  }

  .guarantee__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 768px;
  }

  .guarantee__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 10px);
            flex: 0 0 calc(50% - 10px);
  }

  .guarantee__text {
    padding-right: 30px;
  }

  .guarantee__turnkey-list {
    padding-right: 30px;
  }

  .guarantee__fix {
    padding-right: 30px;
  }

  .guarantee__malfunctions {
    padding-right: 30px;
  }

  .guarantee__price-list {
    display: none;
  }

  .guarantee__price-list_1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 1110px) {
  .gasification__row {
    max-width: 768px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .gasification__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 20px);
            flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }

  .gasification__item:nth-child(2) {
    margin-left: 40px;
  }

  .gasification__item:nth-child(n+3) {
    margin-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 500px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__text {
    font-size: 10px;
  }

  .header__logo-wrapper {
    width: 100%;
    padding-bottom: 17px;
    margin-bottom: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__experience-text {
    font-size: 12px;
    margin-left: 10px;
  }

  .header__phone {
    font-size: 15px;
  }

  .main__content {
    margin-top: 69px;
  }

  .main__title {
    font-size: 19px;
  }

  .main__subtitle {
    font-size: 18px;
  }

  .main__items {
    margin-top: 30px;
  }

  .advantages__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding-left: 59px;
  }

  .advantages__item:nth-child(n+2) {
    margin-top: 15px;
  }

  .services__title {
    text-align: center;
    max-width: 278px;
    margin: 0 auto 39px;
  }

  .connection__col-title p {
    font-size: 16px;
  }

  .connection__col_1 {
    padding: 43px 18px 46px 25px;
    margin-top: 40px;
  }

  .gasification__title {
    font-size: 18px;
  }

  .gasification__row {
    max-width: 400px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .gasification__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    padding: 30px;
  }

  .gasification__item:nth-child(2) {
    margin-left: 0;
  }

  .gasification__item:nth-child(n+2) {
    margin-top: 35px;
  }

  .map__info-col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 500px;
            flex: 0 0 500px;
    width: 525px;
    max-width: 100%;
  }

  .map__info-col:nth-child(n+2) {
    margin-top: 25px;
    margin-left: 0;
  }

  .map__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 40px;
    padding-right: 39px;
  }

  .map {
    padding-top: 192px;
  }

  .footer__logo {
    margin-right: 20px;
  }

  .footer__subtitle {
    font-size: 12px;
  }

  .footer__copyrights {
    width: 100%;
    text-align: center;
    margin-top: 23px;
  }

  .footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 34px;
  }

  .find-out__items {
    width: 400px;
  }

  .find-out__item:nth-child(odd) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .find-out__item:nth-child(even) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-left: 0;
  }

  .find-out__item:nth-child(n+2) {
    margin-top: 20px;
  }

  .guarantee__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 400px;
  }

  .guarantee__col:nth-child(n+2) {
    margin-left: 0;
    margin-top: 25px;
  }

  .guarantee__item-icon {
    margin-right: 20px;
  }

  .guarantee__text {
    padding: 30px 35px 0 25px;
  }

  .guarantee__turnkey-title {
    padding-left: 25px;
  }

  .guarantee__turnkey-list {
    padding: 0 35px 0 25px;
  }

  .guarantee__fix {
    padding: 0 35px 0 25px;
  }

  .guarantee__malfunctions {
    padding: 31px 25px 50px 26px;
  }

  .guarantee__price-list_1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .guarantee__price-list_1 .price-list__title {
    display: none;
  }

  .guarantee__price-list_1 .price-list__image {
    max-height: 133px;
    margin-right: 0;
  }

  .guarantee__line {
    margin-left: 100px;
  }
}

@media screen and (max-width: 670px) {
  .main__items {
    max-width: 383px;
    padding: 12px 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .main__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .main__item:nth-child(n+2) {
    margin-left: 0;
  }

  .main__item:nth-child(n+3) {
    margin-top: 20px;
  }
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 18px;
  }

  .services__item {
    font-size: 14px;
    line-height: 20px;
    padding-left: 42px;
    padding-right: 0;
  }

  .services__warning-subtitle {
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
  }

  .services__warning {
    padding: 40px 40px 46px 50px;
  }

  .services__include {
    padding: 31px 5px 30px 30px;
  }

  .services__include-title {
    font-size: 18px;
    padding: 13px 20px 12px;
    margin-right: 25px;
  }

  .services__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .map__phones-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .map__phone-wrapper:nth-child(n+2) {
    margin-top: 15px;
    margin-left: 0;
  }
}

@media screen and (max-width: 545px) {
  .map__info-col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 360px;
            flex: 0 0 360px;
    width: 360px;
    max-width: 100%;
  }
}

@media screen and (max-width: 410px) {
  .main__items {
    padding: 10px 16px;
  }

  .main__item-name {
    font-size: 13px;
    margin-left: 5px;
  }

  .main__item-check {
    width: 13px;
  }

  .main__item:nth-child(n+3) {
    margin-top: 10px;
  }
}

@media screen and (max-width: 359px) {
  .main__subtitle {
    font-size: 16px;
    margin-top: 24px;
  }

  .main__subtitle span {
    padding: 3px 0 1px 4px;
  }

  .advantages__item {
    padding-left: 30px;
  }

  .services__include-title {
    font-size: 15px;
  }

  .list__item {
    padding-right: 20px;
    padding-left: 20px;
  }

  .list__name {
    font-size: 12px;
  }

  .list__button-wrapper {
    padding-left: 20px;
    margin-left: 20px;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.webp .main{ background: url(../img/Boiler-repair-Swindon.webp) no-repeat center/cover; }

.webp .connection{ background: url(../img/connection-bg.webp) no-repeat top left/contain; }

.webp .list{ background: url(../img/list-copy.webp) no-repeat center/cover; }

.webp .guarantee{ background: url(../img/guarantee.webp) no-repeat center/cover; }

.webp .guarantee__turnkey-item:before{ background: url(../img/плюсик.webp); }

.webp .guarantee__price-list .price-list__title:before{ background: url(../img/guarantee-arrow.webp) no-repeat center/contain; }

.webp .guarantee__price-list_1 .price-list__title:before{ background: url(../img/guarantee-arrow_1.webp) no-repeat center/contain; }

.webp .guarantee__price-list_1 .price-list__button:before{ background: url(../img/guarantee-arrow_2.webp) no-repeat center/contain; }