@charset "UTF-8";

@font-face {
  font-family: "Exljbris";
  font-display: swap;
  src: url("../fonts/exljbris - Museo Cyrl 900_1.otf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Exljbris";
  font-display: swap;
  src: url("../fonts/exljbris - Museo Cyrl 700_1.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Exljbris";
  font-display: swap;
  src: url("../fonts/exljbris - Museo Cyrl 500_1.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Exljbris";
  font-display: swap;
  src: url("../fonts/exljbris - Museo Cyrl 300_1.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Exljbris";
  font-display: swap;
  src: url("../fonts/exljbris - Museo Cyrl 100_1.otf");
  font-weight: 100;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

*:focus,
*:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  background: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: #000;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

image {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

ul {
  margin: 0;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

body{
  overflow-x: hidden;
  font-family: 'Exljbris', sans-serif;
  font-weight: 400;
  color: #000000;
  background: #ffffff;
}

.wrapper{
  max-width: 1440px;
  margin: 0 auto;  
}

.title{
  font-style: normal;
  font-weight: 600;
  font-size: 34.5px;
  line-height: 41px;
  text-transform: uppercase;
  color: #000000;
  @media screen and (max-width: 500px){
    font-size: 19px;
    line-height: 24px;
  }
  @media screen and (max-width: 400px){
    font-size: 15px;
    line-height: 18px;
  }
}

.text-green{
  color: #30BA29;
}
.text-title{
  font-weight: 900;
  font-size: 67px;
  line-height: 80px;
  color: #30BA29;
  @media screen and (max-width: 700px){
    font-size: 39px;
    line-height: 47px;
  }
  @media screen and (max-width: 400px){
    font-size: 34px;
    line-height: 41px;
  }
}
.title-regular{
  font-weight: normal;
  font-size: 37px;
  line-height: 44px;
  color: #000000;
  @media screen and (max-width: 700px){
    font-size: 22px;
    line-height: 26px;
  }
  @media screen and (max-width: 400px){
    font-size: 17px;
    line-height: 20px;
  }
}

.main{
  margin-top: 28px;
  &__content{
    margin-left: 205px;
    @media screen and (max-width: 1432px) {
      margin-left: 105px;
    }
    @media screen and (max-width: 1340px){
      margin-left: 60px;
    }
    @media screen and (max-width: 500px){
      margin-left: 0px;
    }
  }
  &__row{
    display: flex;
    justify-content: space-between;
    &:nth-child(2){
      margin-bottom: 3px;
    }
    @media screen and (max-width: 1080px){
      flex-direction: column;
      &:nth-child(2){
        margin-bottom: 36px;
        align-items: flex-end;
        .main__column{
          &:first-child{
            margin-top: 50px;
            margin-bottom: 0;
            align-self: flex-start;
          }
          &:last-child{
            align-self: flex-end;
          }
        }
      }
      &:last-child{
        .main__column{
          &:first-child{
            margin-top: 40px;
            align-self: flex-start;
          }
          &:last-child{
            align-self: flex-end;
          }
        }
      }
    }
    @media screen and (max-width: 500px){
      flex-direction: column;
      &:nth-child(2){
        .main__column{
          &:first-child{
            margin-left: 36px;
          }
          &:last-child{
            
          }
        }
      }
      &:last-child{
        .main__column{
          &:first-child{
            margin-top: 46px;
            margin-left: 0px;
          }
          &:last-child{
            
          }
        }
      }
    }
    @media screen and (max-width: 400px){
      &:nth-child(2){
        .main__column{
          &:first-child{
            margin-top: 37px;  
            margin-left: 48px;
          }
          &:last-child{
            
          }
        }
      }
      &:last-child{
        .main__column{
          &:first-child{
            margin-left: 0px;
          }
          &:last-child{
            
          }
        }
      }
    }
    @media screen and (max-width: 350px){
      &:nth-child(2){
        .main__column{
          &:first-child{ 
            margin-left: 20px;
          }
        }
      }
    }
  }
  &__column{
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 1080px){
      &:first-child{
        order: 2;
      }
      &:last-child{
        order: 1;
      }
    }
  }
  &__logo{
    margin-bottom: 75px;
    @media screen and (max-width: 1080px){
      margin-bottom: 25px;
    }
    @media screen and (max-width: 500px){
      margin-bottom: 0;
      margin-left: 23px;
      max-width: 136px;
      img{
        width: 100%;
      }
    }
    @media screen and (max-width: 400px){
      max-width: 116px;
      margin-left: 26px;
    }
    @media screen and (max-width: 350px){
      margin-left: 15px;
    }
  }
  &__title{
    max-width: 584px;
    font-weight: 900;
    font-size: 47.5px;
    line-height: 57px;
    text-transform: uppercase;
    color: #000000;
    @media screen and (max-width: 700px){
      font-size: 28px;
      line-height: 34px;
    }
    @media screen and (max-width: 400px){
      font-size: 23px;
      line-height: 28px;
    }
  }
  &__text{
    max-width: 465px;
    margin-bottom: 41px;
    font-style: normal;
    font-weight: 600;
    font-size: 16.7px;
    line-height: 20px;
    @media screen and (max-width: 500px){
      margin-bottom: 36px;
      margin-left: 36px;
      padding-right: 20px;
    }
    @media screen and (max-width: 400px){
      margin-bottom: 31px;
      margin-left: 0;
      padding: 0 65px;
    }
    @media screen and (max-width: 350px){
      padding: 0 35px;
    }
  }
  &__button{
    width: 283px;
    display: inline-flex;
    align-items: center;
    height: 60px;
    padding-left: 30px;
    padding-right: 7px; 
    background: #EBECEC;
    border-radius: 100px;
    font-weight: bold;
    font-size: 17px;
    line-height: 25px;
    color: #808080;
    &-icon{
      margin-left: 21px;
      padding: 11px 12px 11px 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #A3D0E9;
      border-radius: 50%;
      img{

      }
    }
    @media screen and (max-width: 500px){
      margin: 0 auto;
      width: 283px;
    }
  }
  &__illustration{
    margin-top: -133px;
    margin-left: 74px;
    margin-right: 180px;
    @media screen and (max-width: 1340px){
      margin-right: 50px;
    }
    @media screen and (max-width: 1210px){
      margin-right: 36px;
      margin-left: 10px;
    }
    @media screen and (max-width: 1080px){
      margin-top: -15px;
      margin-right: 150px;
    }
    @media screen and (max-width: 700px){
      margin-right: 18px;
    }
    @media screen and (max-width: 500px){
      max-width: 290px;
      margin-left: 117px;
      img{
        width: 100%;
      }
    }
    @media screen and (max-width: 400px){
      margin-top: -2px;
    }
    @media screen and (max-width: 350px){
      margin-right: 12px;
      margin-left: 69px;
    }
  }
  &__block{
    margin-top: 39px;
    padding: 3px 295px 20px 118px;
    background: #30BA29;
    border-radius: 100px 0px 0px 100px;
    @media screen and (max-width: 1340px){
      padding-right: 200px;
    }
    @media screen and (max-width: 1210px){
      padding-right: 149px;
    }
    @media screen and (max-width: 1080px){
      margin-top: 0;
    }
    @media screen and (max-width: 700px){
      padding: 7px 85px 13px 88px;
    }
    @media screen and (max-width: 400px){
      padding: 5px 63px 8px 55px;
    }
  }
  &__price{
    font-weight: bold;
    font-size: 60px;
    line-height: 72px;
    color: #FFFFFF;
    span{
      display: block;
      margin-top: 1px;
      font-weight: 300;
      font-size: 32px;
      line-height: 38px;
      letter-spacing: -0.05em;
      text-transform: uppercase;
    }
    &-subtitle{
      font-weight: 600;
      font-size: 19px;
      line-height: 23px;
      text-transform: uppercase;
      color: #000000;
    }
    @media screen and (max-width: 700px){
      font-size: 45px;
      line-height: 54px;
      span{
        font-size: 27px;
        line-height: 32px;
      }
      &-subtitle{
        font-size: 16px;
        line-height: 19px;
      }
    }
    @media screen and (max-width: 400px){
      font-size: 35px;
      line-height: 42px;
      span{
        font-size: 20px;
        line-height: 24px;
      }
      &-subtitle{
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
}

.decision{
  display: flex;
  justify-content: center;
  margin: 98px auto 0;
  &__title{
    margin-top: 2px;
    margin-bottom: 39px;
    max-width: 719px;
  }
  &__content{
    display: flex;
  }
  &__column{

  }
  &__phone{
    padding-right: 36px;
  }
  &__block{
    display: flex;
  }
  &__text{
    &:first-child{
      margin-right: 38px;
      max-width: 333px;
    }
    &:last-child{
      max-width: 348px;
    }
    &-item{
      font-weight: 400;
      font-size: 16.7px;
      line-height: 21px;
      color: #808080;
    }
  }
  @media screen and (max-width: 1152px){
    padding: 0 60px;
  }
  @media screen and (max-width: 1120px){
    padding: 0 30px;
    &__text{
      font-size: 15px;
    }
  }
  @media screen and (max-width: 1000px){
    &__content{
      flex-direction: column;
      align-items: center;
    }
    &__phone{
      padding-right: 0;
      img{
        width: 100%;
      }
    }
    &__title{
      margin-top: 50px;
      margin-bottom: 38px;
      text-align: center;
    }
  }
  @media screen and (max-width: 780px){
    &__block{
      flex-direction: column;
    }
    &__text{
      &:first-child{
        max-width: 100%;
      }
      &:last-child{
        max-width: 100%;
      }
    }
  }
  @media screen and (max-width: 500px){
    margin-top: 55px;
    padding: 0;
    &__title{
      padding: 0 5px;
      margin-top: 46px;
    }
    &__phone{
      padding: 0 86px;
    }
    &__text{
      padding: 0 23px;
    }
  }
  @media screen and (max-width: 400px){
    margin-top: 46px;
    &__title{
      margin-top: 46px;
      margin-bottom: 23px;
    }
    &__phone{
      padding: 0 90px;
    }
    &__text{
      padding: 0 48px;
      &-item{
        font-size: 13px;
        line-height: 13px;
      }
    }
  }
  @media screen and (max-width: 350px){
    &__title{
      padding: 0;
    }
    &__text{
      padding: 0 20px;
    }
  }
}

.price{
  padding: 0 20px;
  margin-top: 95px;
  &__title{
    margin-bottom: 38px;
    text-align: center; 
  }
  &__content{
    display: flex;
    justify-content: center;
  }
  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    &:first-child{
      margin-right: 94px;
    }
    &:last-child{
      margin-left: 130px;
    }
  }
  &__icon{

  }
  &__text{
    margin-top: 28px;
    font-weight: normal;
    font-size: 23.5px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    span{
      display: block;
      font-weight: 900;
      font-size: 23.5px;
      line-height: 28px;
      text-align: center;
      color: #30BA29;
    }
  }
  @media screen and (max-width: 1000px){
    &__item{
      &:first-child{
        margin-right: 60px;
      }
      &:last-child{
        margin-left: 80px;
      }
    }
  }
  @media screen and (max-width: 820px){
    &__icon{
      img{
        max-height: 40px;
        width: 100%;
      }
    }
    &__text{
      margin-top: 20px;
      font-size: 15px;
      line-height: 17px;
      span{
        font-size: 16px;
        line-height: 17px;
      }
    }
  }
  @media screen and (max-width: 615px){
    &__item{
      &:first-child{
        margin-right: 23px;
      }
      &:last-child{
        margin-left: 33px;
      }
    }
    &__text{
      margin-top: 20px;
      font-size: 13px;
      line-height: 17px;
      span{
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
  @media screen and (max-width: 500px){
    margin-top: 33px;
    &__icon{
      img{
        max-height: 28px;
        width: 100%;
      }
    }
    &__title{
      margin-bottom: 36px;
    }
  }
  @media screen and (max-width: 410px){
    margin-top: 48px;
    &__item{
      &:first-child{
        margin-right: 25px;
      }
      &:last-child{
        margin-left: 25px;
      }
    }
    &__title{
      margin-bottom: 26px;
    }
    &__text{
      margin-top: 20px;
      font-size: 11px;
      line-height: 11px;
      span{
        margin-top: 6px; 
        font-size: 14px;
        line-height: 14px;
      }
    }
  }
  @media screen and (max-width: 360px){
    &__item{
      &:first-child{
        margin-right: 15px;
      }
      &:last-child{
        margin-left: 15px;
      }
    }
    &__text{
      font-size: 9px;
      span{
        font-size: 12px;
      }
    }
  }
}

.join{
  padding: 0 20px;
  margin-top: 96px;
  &__title{
    margin-bottom: 46px;
    text-align: center;
  }
  &__content{
    display: flex;
    justify-content: center;
  }
  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    &:first-child{
      margin-right: 116px;
    }
    &:nth-child(2){
      margin-right: 117px;
    }
    &:last-child{
      margin-left: 121px;
    }
  }
  &__text{
    margin-top: 28px;
    font-weight: normal;
    font-size: 23.5px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }
  @media screen and (max-width: 1000px){
    &__item{
      &:first-child{
        margin-right: 66px;
      }
      &:nth-child(2){
        margin-right: 67px;
      }
      &:last-child{
        margin-left: 71px;
      }
    }
  }
  @media screen and (max-width: 820px){
    &__icon{
      img{
        max-height: 41px;
        width: 100%;
      }
    }
    &__text{
      margin-top: 20px;
      font-size: 15px;
      line-height: 19px;
    }
  }
}

.zone{
  margin-top: 89px;
  &__title{
    margin-bottom: 33px;
    text-align: center;
  }
  &__content{

  }
}

.work{
  margin-top: 65px;
  &__title{
    margin-bottom: 35px;
    text-align: center;
  }
  &__content{
    display: flex;
    justify-content: center;
  }
  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    &:first-child{
      margin-right: 156px;
    }
    &:last-child{
      margin-left: 171px;
    }
  }
  &__icon{

  }
  &__text{
    font-weight: normal;
    font-size: 23.5px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    &-wrapper{
      display: flex;
      align-items: center;
      margin-top: 27px;
      height: 56px;
    }
  }
  @media screen and (max-width: 1000px){
    &__item{
      &:first-child{
        margin-right: 66px;
      }
      &:last-child{
        margin-left: 81px;
      }
    }
  }
  @media screen and (max-width: 820px){
    &__icon{
      img{
        max-height: 51px;
        width: 100%;
      }
    }
    &__text{
      margin-top: 0px;
      font-size: 15px;
      line-height: 19px;
      &-wrapper{
        height: 30px;
      }
    }
  }
}

.why{
  margin-top: 88px;
  &__title{
    margin-top: 27px;
    margin-bottom: 27px;
    text-align: center;
  }
  &__content{
    display: flex;
    justify-content: center;
  }
  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    &:first-child{
      margin-right: 99px;
    }
    &:last-child{
      margin-left: 85px;
    }
  }
  &__icon{

  }
  &__subtitle{
    font-weight: normal;
    font-size: 23.5px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    &-wrapper{
       display: flex;
       align-items: center;
       margin-top: 29px;
       margin-bottom: 34px;
       height: 84px;
    }
  }
  &__list{
    &-subtitle{
      font-weight: 600;
      font-size: 16.7px;
      line-height: 17px;
      text-transform: uppercase;
      color: #808080;
    }
    &-content{

    }
    &-item{
      font-weight: normal;
      font-size: 16.7px;
      line-height: 17px;
      text-align: center;
      color: #808080;
    }
  }
  &__block{

    &-subtitle{
      text-align: center;
      font-weight: 600;
      font-size: 16.7px;
      line-height: 17px;
      text-transform: uppercase;
      color: #808080;
    }
  }
  &__text{
    &-item{
      max-width: 300px;
      font-weight: normal;
      font-size: 16.7px;
      line-height: 17px;
      text-align: center;
      color: #808080;
    }
  }
  @media screen and (max-width: 1060px){
    &__item{
      &:first-child{
        margin-right: 45px;
      }
      &:last-child{
        margin-left: 30px;
      }
    }
  }
}

.footer{
  padding: 30px 0 32px;
  margin-top: 30px;
  background: #30BA29;
  &__content{
    max-width: 1028px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo{

  }
  &__button{
    display: inline-flex;
    align-items: center;
    height: 60px;
    padding: 17px 25px 16px 30px;
    background: rgba(255,255,255, .27);
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    font-weight: bold;
    font-size: 17px;
    line-height: 25px;
    color: #FFFFFF;
    &-icon{
      margin-top: 4px;
      margin-left: 23px;
    }
  }
  &__email{
    font-weight: 600;
    font-size: 17.5px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
  }
  @media screen and (max-width: 1152px){
    padding: 30px 65px 32px 62px;
  }
}